@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --green: #197F5b;
    --dark-green: #197f5a;
    --light-gree: #309D69;
    --orange: #EF9919;
    --light-orange: #f8f5f3;
    --black: #000000;
    --gray: #CCC;
    --dark-gray: #333;
    --medium-gray: #EDE4DB;
    --white: #FFFFFF;
    --size-title: 80px;
    --size-h3: 50px;
    --size-subtitle: 50px;
    --size-text: 24px;
    --size-text2: 22px;
    --size-text4: 19px;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
h3{
    font-size: var(--size-h3);
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 3rem;
    color: var(--dark-gray);
    text-align: center;
}
.orange{
    color: var(--orange);
}
.green{
    color: var(--dark-green);
}
.black{
    color: var(--black);
}
.gray{
    color: #999;
}
.dark-gray{
    color: var(--dark-gray);
}
.white{
    color: var(--white);
}
.font-bold{
    font-weight: bold;
}
.center{
    text-align: center;
}
header{
    margin: auto;
    display: grid;
    grid-template-areas: 'nav'
                        'h1'
                        'h2'
                        'person'
                        'corners'
                        'social-networks'
                        'section'
                        ;
    background-color: var(--green);
    width: 100%;
    height: 119rem;
}
header nav{
    grid-area: nav;
    padding: 2rem 4rem;
    position: relative;
}
header nav label{
    display: none;
    background-image: url('../icons/menu.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.6rem;
    height: 2.6rem;
    filter: invert(1);
    position: absolute;
    margin: 0;
    top: 2rem;
    right: 4rem;
}
header nav input{
    display: none;
}
header nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 6rem;
}
header nav ul li{
    display: block;
    padding: 0 2.6rem;
}
header nav ul li a{
    color: var(--white);
    font-size: 18px;
}
header nav ul li a.active{
    color: var(--orange);
}
header nav ul li a:hover{
    color: var(--orange);
}
header h1{
    grid-area: h1;
    font-size: var(--size-title);
    text-align: center;
    margin: 2.4rem 0 2rem 0;
    padding: 0 2rem;
    font-weight: 600;
}
header h2{
    grid-area: h2;
    margin: auto;
    padding: 0 2rem;
    font-size: var(--size-subtitle);
    max-width: 90rem;
    text-align: center;
    font-weight: 400;
}
header #person{
    grid-area: person;
    position: relative;
    margin: 4rem auto;
    z-index: 1;
    width: 68rem;
    height: 60rem;
    background-image: url('../logos-img/person3.png');
    background-repeat: no-repeat;
    background-position: center;
}
header #person #card1, header #person #card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 8rem;
    width: 19rem;
    background-color: var(--white);
    border-radius: 4rem;
    border: 1px solid var(--gray);
    box-shadow: rgba(255, 255, 255, 0.2) 0 .8rem 0;
}
header #person #card1{
    position: absolute;
    top: 3rem;
    left: 0;
}
header #person #card2{
    position: absolute;
    bottom: 3rem;
    right: 0;
}
header #person #card1 span, header #person #card2 span{
    font-size: var(--size-text4);
}
header #corners{
    grid-area: corners;
    display: flex;
    width: 100%;
    flex-direction: rows;
    justify-content: space-between;
    height: 14rem;
    border: none;
}
header #corner-left{
    position: relative;
    bottom: 15.2rem;
    left: 0;
    width: 0;
    height: 0;
    border-right: 14rem solid var(--green);
    border-top: 14rem solid var(--green);
    border-left: 14rem solid var(--white);
    border-bottom: 14rem solid var(--white);
}
header #corner-right{
    position: relative;
    bottom: 15.2rem;
    right: 0;  
    width: 0;
    height: 0;
    border-right: 14rem solid var(--white);
    border-top: 14rem solid var(--green);
    border-left: 14rem solid var(--green);
    border-bottom: 14rem solid var(--white);
}
header #social-networks{
    grid-area: social-networks;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    top: -15rem;
    width: 42rem;
    height: 8rem;
    z-index: 2;
}
header #social-networks a{
    display: block;
    width: 7.4rem;
    height: 7.4rem;
    border-radius: 50%;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem 4rem;    
}
header #social-networks a.linkedin{
    background-image: url('../icons/linkedin.svg');
}
header #social-networks a.instagram{
    background-image: url('../icons/instagram.svg');
}
header #social-networks a.twitter{
    background-image: url('../icons/twitter.svg');
}
header #social-networks a:hover{
    opacity: 0.8;
}
header section{
    grid-area: section;
    position: relative;
    top: -11rem;
    margin: 0 auto;
    padding: 4rem 5rem 4rem 5rem;
    max-width: 88rem;
    height: 19rem;
    background-color: var(--light-orange);

}
header section span{
    font-size: var(--size-text);
    font-weight: bold;
    letter-spacing: .5px;
}
header section form fieldset{
    display: flex;
    height: 5.4rem;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: none;
    margin-top: 2rem;
    border-radius: 1.8rem;
    background-color: var(--medium-gray);
    padding: 0 3px;
}
header section form fieldset input[type=text]{
    margin: 0;
    padding: 1.2rem 4rem;
    display: block;
    width: 72%;
    border: none;
    border-radius: 1.8rem 0 0 1.8rem;
    background-color: var(--medium-gray);
    font-size: 14px;
    outline: none;
}
header section form fieldset input[type=text]::placeholder{
    color: var(--gray);
    
}

header section form fieldset input[type=submit]{
    margin: 0;
    padding: 1.2rem 0;
    width: 28%;
    color: var(--white);
    border: none;
    background-color: var(--green);
    border-radius: 1.8rem;
}
main{
    margin: 23rem auto 0 auto;
    padding: 0 1rem;
    width: 100%;
    height: auto;
    font-size: 18px;
}
main #about{
    background-color: var(--white);
    padding: 0 18rem;
}
main #about h3{
    text-align: left;
}
main #about p{
    border-left: 6px solid var(--green);
    padding-left: 4rem;
    line-height: 3rem;
}
main #about a {
    margin: 5rem auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 29rem;
    height: 6rem;
    background-color: var(--green);
    border-radius: 3rem;
    color: var(--white);
    text-align: center;
    padding: 0 5rem;
}
main #about a:hover{
    opacity: 0.9;;
}
main #about a img{
    height: 3rem;
    width: 3rem;
    filter: invert(1);
}
main #studies{
    padding-top: 1rem;
    background-color: var(--white);
}
main #studies ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
main #studies ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 36rem;
    height: 40rem;
    background-color: var(--light-orange);
    padding: 1rem 2rem;
    text-align: center;
    row-gap: 2rem;
}

main #studies ul li img{
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}
main #studies ul li img.academlo{
    margin-bottom: 1.6rem;
    height: 12rem;
    width: 12rem;
    object-fit: cover;
}
main #studies ul li span.university{
    font-size: var(--size-text);
    font-weight: bold;
    max-width: 10ch;
}
main #studies ul li span.years{
    font-size: var(--size-text2);
}
main #studies ul li span.text{
    max-width: 22ch;
    line-height: 2.4rem;
}
main #skills{
    padding: 0 28rem 7rem 28rem;
}
main #skills label{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
main #skills progress{
    height: 2rem;
    width: 100%;
    margin: 1rem 0 2.4rem 0;
    border-radius: .8rem;
}
progress::-webkit-progress-bar{
    background: var(--medium-gray);
    border-radius: .8rem;
}
progress::-webkit-progress-value{
    background-color: var(--orange);
    border-radius: .8rem;
    background-color: var(--green);
}
main #experience{
    padding: 1rem 20rem 5rem 20rem;
    background-color: var(--light-orange);
}
main #experience ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    margin-top: 6rem;
    align-items: center;
    gap: 3rem;
}
main #experience ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 26rem;
    text-align: center;
}
main #experience ul li img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin-bottom: 2rem;
}
main #experience ul li span{
    display: block;
    font-size: var(--size-text2);
    margin-bottom: 1rem;
    line-height: 3rem;
}
main #experience .btn {
    display: none;
}
main #portfolio{
    padding-top: 1rem;
}
main #portfolio ul{
    display: grid;
    padding-top: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(46rem, 1fr));
    gap: 2rem;
    text-align: center;
}
main #portfolio ul li{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
main #portfolio ul li img{
    width: 46rem;
    height: 46rem;
    object-fit: cover;
    opacity: 0.9;
}
main #portfolio ul li img:hover{
    opacity: 1;
}
main #contact{
    height: 58rem;
    padding-top: 1rem;
}
main #contact ul{
    margin: 0 auto;
    padding-top: 4rem;
    display: grid;
    max-width: 80rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
main #contact ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24rem;
    gap: 2rem;
}
main #contact ul li .text-phone, main #contact ul li .text-email{
    font-size: var(--size-text);
}
main #contact ul li img{
    display: block;
    width: 8rem;
    height: 8rem;
    margin-bottom: 3rem;
}
footer{
    margin: 0 auto;
    width: 100%;
    background-color: var(--dark-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 22rem;
    text-align: center;
    row-gap: 3rem;
    color: var(--white);
}
footer .author{
    display: block;
    font-size: 46px;
    font-weight: bold;
}
footer .copyright{
    display: block;
    font-size: 18px;
}
footer .copyright a{
    color: var(--white);
}
footer .copyright a:hover{
    text-decoration: underline;
}

@media (max-width: 1024px){
    :root{
        --size-title: 60px;
        --size-h3: 38px;
        --size-subtitle: 38px;
    }
    header nav ul li{
        padding: 0 1.2rem;
        text-align: center;
    }
    header{
        height: 100rem;
    }
    header #person{
        width: 50rem;
        height: 45rem;
        background-size: 33rem;
    }
    header #corner-left{
        bottom: 0rem;
        border-right: 8rem solid var(--green);
        border-top: 8rem solid var(--green);
        border-left: 8rem solid var(--white);
        border-bottom: 8rem solid var(--white);
    }
    header #corner-right{
        bottom: 0rem;
        border-right: 8rem solid var(--white);
        border-top: 8rem solid var(--green);
        border-left: 8rem solid var(--green);
        border-bottom: 8rem solid var(--white);
    }
    main #about{
        padding: 0 8rem;
    }
    main #skills{
        padding: 1.4rem 8rem 10rem 8rem;
    }    
}

@media (max-width: 768px){

    :root{
        --size-title: 32px;
        --size-h3: 30px;
        --size-subtitle: 22px;
        --size-text: 20px;
        --size-text2: 16px;
        --size-text3: 14px;
        --size-text4: 12px;
        --size-text5: 10px;
    }

    header{
        grid-template-areas: 'nav'
                            'person'
                            'h1'
                            'h2'
                            'corners'
                            'social-networks'
                            'section'
                            ;
        height: 58rem;
    }
    header h2{
        position: relative;
        z-index: 2;;
        padding: 0 2rem 4rem 2rem;
    }
    header nav{
        box-sizing: border-box;
        z-index: 4;
    }
    header nav label{
        display: block;
    }
    header nav ul{
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        top: 5rem;
        height: 100vh;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        background-color: #309D69;
        padding: 0;
        width: 100%;
    }
    header nav ul li a{
        display: block;
        padding: 1rem;
        width: 100%;
    }
    /*
    header nav input:checked ~ ul{
        left: 0;
    }
    */
    header #person{
        margin: 5rem auto 1.6rem auto;
        z-index: 1;
        width: 20rem;
        height: 24rem;
        background-image: url('../logos-img/person2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    header #person #card1, header #person #card2{
        height: 4.4rem;
        width: 9.4rem;
        border-radius: 2rem;
        box-shadow: rgba(255, 255, 255, 0.2) 0 .4rem 0;
    }
    header #person #card1{
        top: -2.2rem;
        left: -3.2rem;
    }
    header #person #card2{
        bottom: 0;
        right: -3.2rem;
    }
    header #social-networks{
        margin: 2rem auto;
        width: 60%;
        z-index: 2;
        background-color: var(--dark-green);
    }
    header #social-networks a{
        width: 5rem;
        height: 5rem;
        background-size: 2.5rem 2.5rem;    
    }
    header #corner-left{
        top: -6rem;
        border-right: 4.5rem solid var(--green);
        border-top: 8rem solid var(--green);
        border-left: 4.5rem solid var(--white);
        border-bottom: 8rem solid var(--white);
    }
    header #corners{
        height: 10rem;
        background-color: var(--dark-green);
    }
    header #corner-right{
        top: -6rem;
        border-right: 4.5rem solid var(--white);
        border-top: 8rem solid var(--green);
        border-left: 4.5rem solid var(--green);
        border-bottom: 8rem solid var(--white);
    }
    header section{
        z-index: 3;
        top: -14rem;
        margin: 0 1rem;
        padding: 2rem 5rem 2rem 5rem;
        max-width: 88rem;
        height: auto;
        background-color: var(--light-orange);
    }
    header section form fieldset{
        height: 3.6rem;
    }
    header section form fieldset input[type=text]{
        margin: 0;
        padding: 0.8rem 2rem;
    }
    header section form fieldset input[type=submit]{
        padding: 0.8rem 2rem;
    }
    main{
        font-size: var(--size-text2);
    }
    main #about{
        padding: 0 0;
    }
    main #about p{
        border-left: 4px solid var(--dark-green);
        padding: 1rem;
    }
    main #about a{
        margin: 5rem auto 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 20rem;
        height: 4rem;
        background-color: var(--green);
        border-radius: 1.8rem;
        color: var(--white);
        text-align: center;
        padding: 0 2rem;
        
    }
    main #about a img{
        height: 2rem;
        width: 2rem;
        
    }
    main #studies ul{
        flex-direction: column;
        gap: 4rem;
    }
    main #studies ul li img{
        height: 6rem;
        width: 6rem;
    }
    main #studies ul li{
        min-width: 13rem;
        height: auto;
        padding: 1rem 1rem;
        text-align: center;
        row-gap: 2rem;
        border-radius: 2rem;
    }
    main #studies ul li img.academlo{
        margin-bottom: 1.6rem;
        height: 7rem;
        width: 7rem;
        object-fit: cover;
    }
    main #studies ul li span.university{
        font-size: var(--size-text2);
    }
    main #studies ul li span.years{
        font-size: var(--size-text3);
    }
    main #studies ul li span.text{
        font-size: var(--size-text3);
        max-width: 14ch;
    }
    main #skills{
        padding: 0 2rem 6rem 2rem;
    }
    main #experience{
        position: relative;
        padding: 1rem 0rem 5rem 0rem;
    }
    main #experience #exp-container{
        overflow: hidden;
    }
    main #experience ul{
        display: flex;
        width: 60rem;
        flex-direction: row;
        gap: 4rem;
        margin-top: 4rem;
    }
    main #experience ul li{
        height: auto;
        min-width: 18rem;
    }
    main #experience ul li span{
        max-width: 12ch;
        line-height: 2.2rem;
    }
    main #experience ul li img{
        width: 7rem;
        height: 7rem;
        object-fit: cover;
        margin-bottom: 2rem;
    }

    main #experience .btn {
        position: absolute;
        top: 50%;
        display: block;
        width: 3rem;
        height: 3rem;
        border: none;
        border-radius: 50%;
        z-index: 10;
        cursor: pointer;
        background-color: var(--orange);
        font-size: 18px;
        color: var(--white);
        font-weight: bold;
    }

    main #experience .btn:active {
        transform: scale(1.1);
    }

    main #experience .btn-prev {
        left: 1rem;
    }

    main #experience .btn-next {
        right: 1rem;
    }
      
    main #portfolio{
        padding-top: 4rem;
    }
    main #portfolio ul li{
        box-shadow: none;
    }    
    main #portfolio ul li img{
        padding: 0;
        height: auto;
        object-fit: cover;
    }
    main #contact{
        height: 38rem;
    }
    
    main #contact ul{
        margin: 0 auto;
        padding-top: 2rem;
        max-width: 80rem;
        grid-template-columns: 1fr 1fr;
    }
    main #contact ul li{
        width: 19rem;
    }
    main #contact ul li .text-phone, main #contact ul li .text-email{
        font-size: var(--size-text2);
    }
    main #contact ul li img{
        display: block;
        width: 4rem;
        height: 4rem;
        margin-bottom: 2rem;
    }
    footer{
        height: 13rem;
        row-gap: 1.8rem;
    }
    footer .author{
        font-size: var(--size-h3);
    }
    footer .copyright{
        font-size: var(--size-text3);
    }
}